img.banner-fullscreen
{
    display: inline;
    position: absolute;
    opacity: 0.75;
    z-index: -1;
    overflow: hidden;
    width: 100%;
    height: 100%;
}
.header-text
{
    font-size: x-large;
    text-align: center;
}
div.background-content
{
    width: 800px;
    margin: 0 auto;
    padding: 10px;
}
header
{
    padding: 0 !important;
    margin: 0 !important;
    height: 250px;
    clear: both;
}
nav.navbar
{
    clear: both;
    display: block;
}
.content
{
    display: block;
    margin: 0;
    padding: 25px;
}

.content-container{
    padding: 0px 40px 0px 0px;
}
#div-logo
{
    margin-top: 50px;
}
#div-bannertext
{
    height: 100%;
    font-size: x-large !important;
    font-family: "DejaVu Sans";
    font-weight: bolder;
    color: whitesmoke;
}
#div-bannertext p
{
    margin: 0 0 10px;
    bottom: 0;
    position: absolute;
    right: 0;
    padding: 15px;
    background-color: white;
    color: black;
}

#map {
    height:500px;
}
#wijzig-traject-form,
#wijzig-traject-map
{
    margin: 5px
;
    padding: 0;
}
#wijzig-traject-form form
{
    padding: 15px;
}
.panel-heading a
{
    color: white;
}
.panel-heading a:after {
    font-family:'Glyphicons Halflings';
    content:"\e114";
    float: right;
    color: grey;
}
.panel-heading a.collapsed:after {
    content:"\e080";
}
li.traject-dropdown-item
{
    cursor: hand;
}
#traject-dropdown
{
    display: inline;
    width: 100%;
}
#traject-dropdown p
{
    display: inline;
    float: left;
}
#traject-dropdown span
{
    display: inline;
    float: right;
    margin-top: 5px;
}

body {
    margin: 0;
    padding: 0;
    background:#3498db;
}

.cs-loader {
    height: 60px;
    width: 100%;
    z-index: 10;
    background-color: rgba(193, 0, 55, 0.61);
}

.cs-loader-inner {
    color: #FFF;
    text-align: center;
}

.cs-loader-inner label {
    font-size: 20px;
    opacity: 0;
    display:inline-block;
}
.cs-loader p{
    text-align: center;
    font-family: "DejaVu Sans";
    margin: 0;
}

@keyframes lol {
    0% {
        opacity: 0;
        transform: translateX(-300px);
    }
    33% {
        opacity: 1;
        transform: translateX(0px);
    }
    66% {
        opacity: 1;
        transform: translateX(0px);
    }
    100% {
        opacity: 0;
        transform: translateX(300px);
    }
}



@-webkit-keyframes lol {
    0% {
        opacity: 0;
        -webkit-transform: translateX(-300px);
    }
    33% {
        opacity: 1;
        -webkit-transform: translateX(0px);
    }
    66% {
        opacity: 1;
        -webkit-transform: translateX(0px);
    }
    100% {
        opacity: 0;
        -webkit-transform: translateX(300px);
    }
}

.cs-loader-inner label:nth-child(6) {
    -webkit-animation: lol 3s infinite ease-in-out;
    animation: lol 3s infinite ease-in-out;
}

.cs-loader-inner label:nth-child(5) {
    -webkit-animation: lol 3s 100ms infinite ease-in-out;
    animation: lol 3s 100ms infinite ease-in-out;
}

.cs-loader-inner label:nth-child(4) {
    -webkit-animation: lol 3s 200ms infinite ease-in-out;
    animation: lol 3s 200ms infinite ease-in-out;
}

.cs-loader-inner label:nth-child(3) {
    -webkit-animation: lol 3s 300ms infinite ease-in-out;
    animation: lol 3s 300ms infinite ease-in-out;
}

.cs-loader-inner label:nth-child(2) {
    -webkit-animation: lol 3s 400ms infinite ease-in-out;
    animation: lol 3s 400ms infinite ease-in-out;
}

.cs-loader-inner label:nth-child(1) {
    -webkit-animation: lol 3s 500ms infinite ease-in-out;
    animation: lol 3s 500ms infinite ease-in-out;
}
.tooltip-title{
    font-size: medium;
}

#header-fixed {
    position: fixed;
    top: 0px;
    display:none;
    background-color:white;
    z-index: 1010;
}

.floatThead-container{
    overflow: visible !important;
    background-color: #FFFFFF;
}

#trajecten-table{
    z-index: 1000;
}

th.rotate {
    /* Something you can count on */
    height: 140px;
    white-space: nowrap;
}

th.rotate > div {
    transform: translate(25px, 0px) rotate(300deg);
    width: 30px;
}
/*th.rotate:last-of-type > div{
    transform: translate(12px, 0px) rotate(300deg)
}*/

th.thh > div{
    transform: translate(25px, 15px) rotate(300deg);
}

th.rotate > div > span {
    border-bottom: 1px solid #ccc;
    padding: 3px 5px;
}
th.thh > div > span {
    padding: 10px 10px;
    border-radius: 4px;
    font-weight: bold;
    padding-left: 20px;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 22px 100%);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 22px 100%);
}

th.optimaleReistijd.thh > div > span{
    color: white;
    background: #FF0000;
}
th.reistijd.thh > div > span{
    color: #333;
    background: yellow;
}
th.vertraging.thh > div > span{
    color: white;
    background: blue;
}

tr.map-not-showing{
    background-color: #ffffff;
}
tr.map-showing{
    background-color: #FFEEE8;
}
tr.map-showing:hover{
    background-color: #ffdddd !important;
}

a.view-traject-onmap, a.delete-traject-onmap{
    cursor:hand;
}

td.thtd{
    width: 40px;
}

td.rotatedtd{
    width: 30px;
    text-align:right;
}